absl-py==0.7.0
alabaster==0.7.12
alembic==1.0.10
aniso8601==7.0.0
anndata==0.6.22.post1
anndata2ri===0.1.dev39-0bb8f30
appdirs==1.4.3
appnope==0.1.0
arboreto==0.1.5
arrow==0.15.2
asciitree==0.3.3
asn1crypto==0.24.0
astor==0.7.1
astroid==2.1.0
async-generator==1.10
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
bagit==1.7.0
binaryornot==0.4.4
-e git+git@github.com:bioFAM/MOFA2.git@2aead43b2773d46f886d1b3c063e96ff97e4204e#egg=biofam
black==19.3b0
bleach==3.0.2
bokeh==1.3.4
boltons==19.1.0
CacheControl==0.12.5
cachy==0.2.0
cellxgene==0.12.0
certifi==2018.10.15
certipy==0.1.3
cffi==1.12.2
chardet==3.0.4
cleo==0.6.8
Click==7.0
click-log==0.3.2
cloudpickle==1.2.1
coconut==1.4.0
colorama==0.4.1
cookiecutter==1.6.0
cryptography==2.6.1
cwlref-runner==1.0
cwltool==1.0.20181129095638
cycler==0.10.0
cymem==2.0.2
Cython==0.29
cytoolz==0.9.0.1
dask==2.1.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.9
distributed==2.1.0
docutils==0.15.2
en-core-web-sm==2.0.0
entrypoints==0.2.3
fasteners==0.15
fitsne==1.0.1
Flask==1.1.1
Flask-Caching==1.7.2
Flask-Compress==1.4.0
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
flatbuffers==1.11
flit==1.3
freetype-py==2.1.0.post1
frozendict==1.2
fsspec==0.5.2
future==0.17.1
future-fstrings==1.0.0
gast==0.2.2
get-version==2.0.6
gitdb2==2.0.5
GitPython==3.0.2
google-pasta==0.1.6
gpflow==1.3.0
graphtools==0.2.1
grpcio==1.18.0
h5py==2.9.0
HeapDict==1.0.0
html5lib==1.0.1
idna==2.7
imageio==2.6.1
imagesize==1.1.0
importlib-metadata==0.19
interlap==0.2.6
ipydatawidgets==4.0.0
ipykernel==5.1.1
ipympl==0.2.1
ipython==7.9.0
ipython-genutils==0.2.0
ipyvolume==0.5.1
ipywebrtc==0.4.3
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10.1
jinja2-time==0.2.0
joblib==0.13.0
jsmin==2.2.2
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterhub==1.0.0
jupyterlab==0.35.5
jupyterlab-server==0.2.0
jupyterthemes==0.20.0
jupytext==0.8.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
-e git+git@github.com:gtca/LatentDE.git@f9f24d6ecb0b95397874d2d0aacdef01ab613fd5#egg=LatentDE
lazy-object-proxy==1.3.1
leidenalg==0.7.0
lesscpy==0.13.0
libsass==0.15.1
lineedit==0.1.1
llvmlite==0.29.0
lml==0.0.6
lockfile==0.12.2
logomaker==0.8
loompy==3.0.6
louvain==0.6.1
lxml==4.2.5
magic-impute==1.4.0
Mako==1.0.9
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.1
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
MOFA==1.0
-e git+git@github.com:bioFAM/MOFA2.git@2aead43b2773d46f886d1b3c063e96ff97e4204e#egg=mofapy2
monotonic==1.5
more-itertools==6.0.0
mpp==0.1.0
-e git+git@github.com:gtca/mpp.git@9b12150380a12697a2711737283230ffd234b3fc#egg=mpp_gtca
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multipledispatch==0.6.0
multiprocessing-on-dill==3.5.0a4
munch==2.3.2
murmurhash==1.0.1
mypy-extensions==0.4.1
NaiveDE==1.2.0
napari==0.2.3+1.gd4bb2cb
natsort==5.4.1
nbconvert==5.4.0
nbdime==1.1.0
nbformat==4.4.0
networkx==2.2
notebook==5.7.0
numba==0.45.1
numcodecs==0.6.3
numexpr==2.6.8
numpy==1.17.3
numpy-groupies==0+unknown
numpydoc==0.9.1
oauthlib==3.0.1
odfpy==1.3.5
opt-einsum==3.1.0
packaging==19.2
pamela==1.0.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pastel==0.1.1
patsy==0.5.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.0.0
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.9.0
ply==3.11
poetry==0.12.17
poyo==0.5.0
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==2.0.10
protobuf==3.6.1
prov==1.5.1
psutil==5.4.8
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.12.1
pycparser==2.19
pyexcel-io==0.5.9.1
pyexcel-ods==0.5.3
Pygments==2.2.0
PyGSP==0.5.1
pylev==1.3.0
pylint==2.2.2
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.2.0
PyQt5==5.13.1
PyQt5-sip==12.7.0
pyre-check==0.0.26
pyrsistent==0.14.11
pysam==0.15.2
pyscenic==0.9.14
PySide2==5.13.1
pytest==4.3.1
python-dateutil==2.7.5
python-editor==1.0.4
python-igraph==0.7.1.post6
pythreejs==2.0.2
pytoml==0.1.21
pytz==2018.7
pywatchman==1.4.1
PyWavelets==1.1.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.5.5
QtPy==1.9.0
radian==0.4.0
rchitect==0.3.5
rdflib==4.2.2
rdflib-jsonld==0.4.0
regex==2018.1.10
requests==2.20.1
requests-toolbelt==0.8.0
rpy2==3.0.1
ruamel.yaml==0.15.77
scandir==1.9.0
scanpy==1.4.4.post1
schema-salad==3.0.20181129082112
scHPF==0.3.0
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
scprep==0.8.1
scvelo==0.1.16
seaborn==0.9.0
Send2Trash==1.5.0
shellescape==3.4.1
shellingham==1.3.1
shiboken2==5.13.1
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcontainers==2.1.0
spacy==2.0.18
SpatialDE==1.1.1
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spython==0.0.57
SQLAlchemy==1.3.3
statsmodels==0.10.1
subprocess32==3.5.3
tables==3.5.1
tasklogger==0.4.0
tb-nightly==1.14.0a20190301
tblib==1.4.0
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.1
tensorflow-probability==0.5.0
termcolor==1.1.0
terminado==0.8.1
testfixtures==6.4.3
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019030115
thinc==6.12.1
toml==0.10.0
tomlkit==0.5.8
toolz==0.9.0
tornado==5.1.1
tqdm==4.30.0
traitlets==4.3.2
traittypes==0.2.1
typing-extensions==3.6.6
tzlocal==1.5.1
ujson==1.35
umap-learn==0.3.8
urllib3==1.24.1
vispy==0.6.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.6
whichcraft==0.6.1
widgetsnbextension==3.4.2
wrapt==1.11.2
xxhash==1.3.0
zarr==2.3.2
zict==1.0.0
zipp==0.6.0
